body{
    background-image: url(../voting-e1711380786234.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Oswald, arial;
    margin: 20px;
}

.judul{
    background-color: rgba(247, 244, 240, 0.694);
    border: 3px solid;
    border-radius: 12px;
}

#isi-judul{
    margin: 15px;
}

.card{
    background-color: #ffffff73;
    border: 3px solid;
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card2{
    background-color: rgb(249, 243, 237);
    padding: 20px 30px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.isi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
