body{
    background-image: url(images/voting-e1711380786234.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: Oswald, arial;
}

.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 4px solid;
    box-shadow: 3px 3px 6px rgb(21, 28, 66), -3px -3px 6px rgb(9, 31, 106);
    border-radius: 16px;
    background-color: white;
}

.makasih{
    display: flex;
    align-content: center;
    margin: 15px;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tombol{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 18.7px 55px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-family: Oswald, arial;
}

.tombol::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(234, 81%, 55%);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.tombol::before{
    content: "";
    background: linear-gradient(
        45deg,
        rgb(22, 180, 237),rgb(59, 16, 214),rgb(72, 185, 205),rgb(75, 47, 233),
        rgb(79, 45, 189), rgb(74, 182, 209), rgb(93, 28, 130),  rgb(22, 180, 237)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0.7;
}

@keyframes glowing{
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.tombol:hover::before{
    opacity: 1;
}

.tombol:hover::after{
    background: transparent;
}

.tombol:active{
    color: rgb(81, 83, 193);
    font-weight: bold;
}