body{
    background-image: url(image/voting-e1711380786234.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: Oswald, arial; 
}

.card{
    margin-top: 20px;
    border: 4px solid;
    background-color: rgba(205, 213, 221, 0.717);
    display: flex;
    align-content: center;
    border-radius: 12px;
    box-shadow: 3px 3px 6px rgb(21, 28, 66), -3px -3px 6px rgb(9, 31, 106);
}

.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 20px;
}

#isi{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 20px;
}

.tombol{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    color: #FFF;
    background-color: blue;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-family: Oswald, arial;
}

#visi-misi{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid;
    border-bottom: 2px solid #706f6f;
    color: black;
    outline: none;
    font-size: 16px;
}
