*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, arial;
}

body,html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(voting-e1711380786234.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}

.form-container{
    background: rgb(219, 231, 236);
    border: 2px solid;
    border-radius: 16px;
    box-shadow: 3px 3px 6px black, -3px -3px 6px black ;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px;
    width: 300px;
    color:rgb(59, 59, 180);
}

.form-container h2{
    text-align: center;
    margin-bottom: 20px;
}

.input-group{
    position: relative;
    margin-bottom: 25px;
}

.input-group input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #706f6f;
    color: black;
    outline: none;
    font-size: 16px;
}

.input-group label{
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    color: #aaa;
    transition: 0.3s ease;
}

.input-group input:focus + label,
.input-group input:valid + label{
    top: -12px;
    font-size: 12px;
    color: #201b1b;
}

.tombol{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-family: Oswald, arial;
}

.tombol::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(234, 81%, 55%);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.tombol::before{
    content: "";
    background: linear-gradient(
        45deg,
        rgb(22, 180, 237),rgb(59, 16, 214),rgb(72, 185, 205),rgb(75, 47, 233),
        rgb(79, 45, 189), rgb(74, 182, 209), rgb(93, 28, 130),  rgb(22, 180, 237)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0.7;
}

@keyframes glowing{
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.tombol:hover::before{
    opacity: 1;
}

.tombol:hover::after{
    background: transparent;
}

.tombol:active{
    color: rgb(81, 83, 193);
    font-weight: bold;
}